<h1> This is the new Page!!!</h1>

 <form action="/dogs" method="post">
   <p> Name: <input type="text" name="name">
   <p> Breed: <input type="text" name="breed">
   <p> Age: <input type="text" name="age">
   <p> Image URL: <input type="text" name="image_url">
   <input type="submit">
 </form>